@import url("https://fonts.googleapis.com/css?family=Tangerine");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #854dcf;
}

form {
  background: #fff;
  width: 450px;
  padding: 30px;
  border-radius: 5px;
}

form header {
  color: #854dcf;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

form .url-input {
  margin: 30px 0;
}

.url-input .title {
  font-size: 18px;
  color: #373737;
}
.url-input .field {
  height: 50px;
  width: 100%;
  margin-top: 5px;
}

.url-input .field input {
  height: 100%;
  width: 100%;
  border: none;
  background: #f1f1f7;
  font-family: "Noto Sans", sans-sarif;
}

.url-input .field .bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #7d2ae8;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.url-input .field input:focus ~ .bottom-line,
.url-input .field input:valid ~ .bottom-line {
  transform: scale(1);
}

form .preview-area {
  border-radius: 5px;
  height: 220px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #8e46ec;
}
.preview-area.active {
  border: none;
}
.preview-area .thumbnail{
    width: 100%;
    display: none;
    border-radius: 5px;
  }
  .preview-area.active .thumbnail{
    display: block;
  }
  .preview-area.active .icon,
  .preview-area.active span{
    display: none;
  }
  .preview-area .icon{
    color: #8e46ec;
    font-size: 80px;
  }
  .preview-area span{
    color: #8e46ec;
    margin-top: 25px;
  }

  form .download-btn{
    color: #fff;
    height: 53px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin: 30px 0 20px 0;
    border-radius: 5px;
    background: #7D2AE8;
    pointer-events: none;
    /* transition: background 0.3s ease; */
  }
  .download-btn:hover{
    background: #6616d0;
  }
